/*h3{
 font-family: 'PT Serif', serif;  text-align: center;
  margin-top: 60px;
  margin-right: 600px;
  font-size:xx-large;
}
h3:hover{
    color: #ea1538;
    transition: 0.1s;
}
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Tapestry&family=Water+Brush&display=swap');

img{
    float: left;
}
em{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Water Brush', cursive; /* its okkk  */
    font-size: xx-large;
    
}

/*
h1:hover{
    color:#ea1538;
    transition: 1s;
}
*/
p{
    padding-left: 600px;
    padding-right: 100px;
    font-size: 25px;
}
.Txt2{
    padding-left: 10px;
}
.quotation{
    width: 100px;
margin-top: 90px;
margin-left: 600px;}

.quote{
    margin-right:300px;
    margin-top: 175px;
    margin-bottom: 50px;
    padding-left: 100px;
    text-align: center;
}
body{
    background: black;
    color: white;
}




em{
    position: relative;
    font-size: 50px;
    letter-spacing: 15px;
    text-transform: uppercase;
    width:100% ;
    justify-content: center;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
    margin-left: 250px;
    margin-top: 100px;
}

h1{
    margin-top: 50px;
    margin-bottom: 40px;
}

.Txt{
    padding-top: 20px;
    padding-bottom: 20px;
}






@keyframes animate
{
  0%,18%,20%,50.1%,60.1%,65%,80.1%,90%,92.1%,100%
  {
      color: #fffefe;
      text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,80.1%,90%,92.1%,100%
  {
      color: #fff;
      text-shadow: 0 0 10px #ea1538,
      0 0 20px #ea1538,
      0 0 40px #ea1538,
      0 0 80px #ea1538,
      0 0 160px #ea1538;

  }

}

body{
    background-color: black;
}



   