*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container1{
    color: white;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 10px;
    text-decoration: none;
    margin-top: 50px;
}
p{
    background-color: black;
    border: 1px solid black;
}
.welcomeimg{
    padding-left: 400px;
}
.exploreimg{
    padding-left: 400px;
    margin-bottom: 10px;
    margin:0px;
    width: 50%;
    
}
.Navigation{
    background-color:black;
   }
   .img1{
       width: 100%;
       padding-top: 10px;
       padding-right: 10px;
   }
.readmore{
background-color: black;
}
.readarticle{
    background-color: #ea1538;
    color: white;
    padding: 10px;
    text-align: center;
}
.readarticle:hover{
    background: black;
    transition: 0.1s;
}

.overview{

    font-size:small;
}
.header{
    font-size: xx-large;
}

